body {
    text-align: center;
    font-size: larger;
}

.hidden {
    display: none;
    visibility: hidden;
}

.container {
    border-style: outset;
    border-width: 10px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
}

.condense {
    width: 30%;
}